// Type Color Variables
$colors: (
  normal: #aaaa9a,
  fire: #fc462f,
  water: #3a9bfc,
  electric: #fdcb45,
  grass: #7aca5c,
  ice: #6bcdfd,
  fighting: #b85547,
  poison: #a95798,
  ground: #dcba5d,
  flying: #899cfc,
  psychic: #fc5899,
  bug: #aaba34,
  rock: #baa96a,
  ghost: #6668b9,
  dragon: #776beb,
  dark: #765545,
  steel: #aaaaba,
  fairy: #ec9bec
);
